body {
    justify-content: center;
}

#licence-container {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 25rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52
}

#licence-container img h2 h3 p {
    justify-self: center;
}